@import "../variables";
.langSwitcher {
  display: flex;
  align-items: center;
  place-content: flex-start;
  width: 100%;
}

.langSwitcher {
  color: #7e7e7e;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  transform: translateY(5px);
  margin: 0;
  font-weight: normal;
  position: relative;
  z-index: 1;
}

.langSwitcher [data-language-switcher] {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding: 0.1rem 0.5rem;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease-in;
  color: #7e7e7e;
}

.langSwitcher [data-is-current="true"] {
  cursor: default;
}
.langSwitcher [data-is-current="true"],
.langSwitcher [data-language-switcher]:hover,
.langSwitcher [data-language-switcher]:focus,
.langSwitcher [data-language-switcher]:active {
  color: #e0e0e0;
}
.langSwitcher [data-language-switcher]::after {
  content: "";
  bottom: 0;
  left: 7px;
  width: 0;
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  transition: all 0.25s ease-in;
}
.langSwitcher [data-is-current="true"]::after,
.langSwitcher [data-language-switcher]:hover::after {
  width: calc(100% - 15px);
}
