@import "../variables";

.button-scrollToTop {
  visibility: hidden;
  background-color: #00000033;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 11;
  transform: translate(-100%, -50%);
  cursor: pointer;
  border-radius: 4px;
  &.active {
    visibility: visible;
    &:hover {
      background-color: #000000be;
      fill: #ffffff;
    }
  }
}
